<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example App</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/build/main.css" media="screen">
    <!-- <link rel="stylesheet" href="style/build/print.css" type="text/css" media="print"> -->



</head>
<body>

<div class="container">
  <div class="col-sm-12">
  	<h1>Test</h1>
  	<p>{{message}}</p>
  </div>
</div>

  <script type="text/javascript" src="javascripts/build/main.min.js"></script>

	<script type="text/javascript">
	var message2 = "{{message}}";

	console.log("message " + message2);
	</script>
</body>
</html>
